body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  grid-column: 1rem;
  align-items: center;
}

.button-row {
  display: flex;
  gap: 10px;
  margin-bottom: 1rem;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
  margin: 1rem;
  border-radius: 20px;
}

.button:hover {
  background-color: #3498ff;
  color: gray;
}

.bulb {
  fill: white;
}

.button.active .bulb{
  fill: yellow;
}

.door {
  fill: brown;
}

.button.active .door {
  fill: white;
}

.house-container {
  fill: aqua;
  width: 800px;
  height: 600px;
}

.photo-container {
  margin-top: 20px;
}

